<!-- HTML BOILER PLATE -->
<!DOCTYPE html>

<!-- Linking the module to our HTMl -->
<!-- Since we defined the name in app.js, we just need to reference that name here: -->
<html ng-app="smsComposer">

  <head>
    <meta charset="utf-8">
    <title>weFarm.org</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

    <!-- Filling out the view with the data from the controller. We are linking our controller to our HTML file using the Angular directive ng-controller: -->
    <body ng-controller="MessagesCtrl as Messages">

      <!-- weFarm logo and title: -->
      <img src="https://s3-eu-west-1.amazonaws.com/wefarm.assets/v2/images/logoprimary.svg" alt="weFarm-logo">
      <h1>weFarm SMS Composer</h1>

      <!-- We can then display the imtems values from the controller like this. This means we are working with data that's coming from our controller: -->

      <!-- Amount of messages that have been posted to the page (some including the fake seed data in the controller): -->
      <h3>You have sent <li>{{ Messages.items.length }}</li> messages using the weFarm SMS Composer!</h3>

      <!-- This is the form area where the user can start to type their SMS, I have styled the height and width of the text box here instead of the CSS: -->
      <form ng-submit="Messages.addItem()">
        <textarea type="text" placeholder="Write weFarm SMS here..." ng-model="Messages.newMessage.topic" style="width: 44rem; height: 3rem"></textarea>

        <!-- This is the submit button that will "send the SMS" and will be posted to the list as one of the messages sent/a topic: -->
        <input type="submit" name="" value="SEND SMS">
      </form>

      <!-- This counts the amount of characters that are being typed in the SMS: -->
      <h2>Amount of Chars: {{ Messages.newMessage.topic.length}} out of 160</h2>

      <!-- This shows a preview of the message being typed. It using limitTo 160 characters to be typed -->
        <h2>Preview of SMS:</h2>
        <p ng-if="Messages.newMessage.topic.length > 0">{{ Messages.newMessage.topic | limitTo: 160 }}</p>

      <!-- This uses an ng-if to say that, if the newMessage topic if GREATER THAN 160 characters than move to the next line using a <br /> and then draw a horizontal line <hr /> and repeatedly does this -->
      <div ng-if="Messages.newMessage.topic.length > 160">
        <br />
      </div>
      <div ng-if="Messages.newMessage.topic.length >= 160">
        <hr />
      </div>

      <p ng-if="Messages.newMessage.topic.length > 160">{{ Messages.newMessage.topic }}</p>

      <!-- At this point I would like to create another output for when the previous paragraph tag reaches its limit of 160 characters -->

      <ul>
        <li ng-repeat="item in Messages.items">
          {{ item.topic }}
          <hr />
        </li>
      </ul>
  </body>
</html>




<!-- I would like to be able to do this for every message as it is only doing it for one of them at the moment -->
